/*--------------------------------------------------------------
# Custom Mount Everest Styles
--------------------------------------------------------------*/
/* Site Branding
--------------------------------------------- */
.site-branding {
    padding: 2rem;
    border-bottom: solid 1px gray;
  }
  
  .site-title, .site-description {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  .site-title a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 100;
    color: gray;
    font-size: xx-large;
    font-kerning: normal;
  }
  
  /* Navigation
  --------------------------------------------- */
  .main-navigation {
    padding: 1rem;
    background-color: black;
  }

  .nav-menu {
    display: flex;
    justify-content: center;
  }

  .page_item a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: x-small;
    margin-right: 1rem;
   
  }
  
  /* Main Site Content
  --------------------------------------------- */


  .site-main {
    width: 100%;
    padding: 2rem;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media only screen and (min-width: 576px) {
    .site-main {
      max-width: 540px;
    }
  }

  @media only screen and (min-width: 768px) {
    .site-main {
      max-width: 720px;
    }
  }

  @media only screen and (min-width: 992px) {
    .site-main {
      max-width: 960px;
    }
  }

  @media only screen and (min-width: 1200px) {
    .site-main {
      max-width: 1140px;
    }
  }
  

  /* Footer
  --------------------------------------------- */
  .site-footer {
    padding: 1rem;
    background-color: black;
    text-align: center;
  }
  
  .site-info, .site-info a {
    color: gray;
    text-decoration: none;
    font-size: x-small;
  }